.products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &.product-modal {
    margin-top: 20px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    @media (min-width: 768px) {
      margin-top: 32px;
    }
    .title {
      font-size: 18px;
      font-weight: 600;

      @media (min-width: 768px) {
        font-size: 20px;
      }
      @media (min-width: 992px) {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  .product-item {
    &:hover {
      background-color: var(--grey20);
      & td {
        background-color: var(--grey20) !important;
      }
    }
  }
  .search-input {
    display: flex;
    align-items: center;
    border: 1px solid var(--grey110);
    padding: 1px 8px;
    border-radius: 4px;
  }

  .search-input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 4px;
  }

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    margin-left: 4px;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    & label {
      font-weight: 600;
    }
    & input {
      margin-top: 4px;
      border-radius: 2px;
      padding: 6px 8px;
      border: 1px solid var(--grey110);
      &:focus-visible {
        outline: 1px solid var(--input-border);
        border-radius: 2px;
      }
      &.error {
        border: 1px solid var(--status-colors-error);
        outline-color: var(--status-colors-error);
      }
    }
    #category {
      .css-13cymwt-control,
      .css-t3ipsp-control {
        margin-top: 4px;
        border-radius: 2px;
        // padding: 6px 8px;
        border: 1px solid var(--grey110);
      }
    }
  }
  .custom-color {
    border-radius: 2px;
    border: 1px solid var(--grey110);
    align-items: center;
    display: flex;
    width: fit-content;
    padding: 4px !important;
    gap: 4px;
    max-width: 124px;
  }
  .save-button {
    margin-top: 24px;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--theme-primary);
    color: var(--white-0);
    border: none;
    border-radius: 2px;
    width: fit-content;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
    }
  }
  .empty-button {
    margin-top: 24px;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--white-0);
    border: 1px solid var(--grey110);
    border-radius: 2px;
    width: fit-content;
    cursor: pointer;
  }
  /* Apply basic styling to the modal */
  .bottom-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 9999;
    @media (min-width: 798px) {
      position: fixed;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 560px;
    }
  }

  /* Style the modal content */
  .modal-content {
    background-color: #fff;
    padding: 16px 24px;
    width: 100%;
    p {
      margin-top: 20px;
      color: var(--grey130);
      height: 85px;
    }
  }
  .item-list-container {
    // table {
    //   text-align: center;
    //   & .name {
    //     text-align: start;
    //   }
    // }
    // th {
    //   font-size: 14px;
    //   width: 200px !important;
    // }
    // td {
    //   height: 43px;
    //   width: 200px !important;
    // }
    tr {
      border-bottom: 1px solid var(--grey30);
    }
    .table-container {
      overflow-x: auto;
      width: 100%;
    }

    .custom-table {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
    }

    .header-row {
      background-color: var(--theme-lighter-alt);
    }

    // .header-row th {
    //   padding: 11px 12px;
    //   font-weight: 600;
    //   font-size: 14px;
    //   border-bottom: 1px solid var(--grey30);
    //   white-space: nowrap;
    // }

    .col-name {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 45vh;
      text-align: start;
      padding: 11px 12px;
      position: sticky;
      left: 0px;
      z-index: 1;
      @media (max-width: 991px) {
        width: 40vh;
      }
      @media (max-width: 798px) {
        width: 15vh;
      }
    }
    th {
      &.col-name {
        background-color: var(--theme-lighter-alt);
      }
    }
    td {
      &.col-name {
        background-color: var(--background);
      }
    }
    .col-id,
    .col-category,
    .col-price,
    .col-action {
      width: 25%; /* Each column takes 25% width */
      // border-left: 1px solid var(--grey30);
      text-align: center;
      padding: 11px 12px;
    }

    .col-action {
      // border-right: 1px solid var(--grey30);
    }
  }
}
