.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 16px;
  @media (min-width: 768px) {
    padding: 50px 210px;
  }
  @media (min-width: 1400px) {
    padding: 50px 174px;
  }
  gap: 56px;
  .header {
    font-weight: 600;
    font-size: 2rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 24px;
    form {
      width: 100%;
      gap: 24px;
    }
    & .inputs {
      display: flex;
      flex-direction: column;
      & label {
        font-weight: 600;
      }
      & input {
        margin-top: 4px;
        border-radius: 2px;
        padding: 6px 8px;
        border: 1px solid var(--grey190);
        &:focus-visible {
          outline: 1px solid var(--input-border);
          border-radius: 2px;
        }
        &.error {
          border: 1px solid var(--status-colors-error);
          outline-color: var(--status-colors-error);
        }
      }
    }
    .password-input {
      position: relative;
      & input {
        width: 100%;
      }
    }

    .password-toggle {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .submit-button {
      cursor: pointer;
      display: flex;
      padding: 6px 20px;
      width: fit-content;
      align-items: center;
      justify-content: center;
      margin: 0px auto;
      border-radius: 2px;
      border: none;
      font-weight: 600;
      margin-top: 16px;
      &.loading {
        padding: 7px 30px;
      }
      &.disabled {
        background-color: var(--grey20) !important;
        color: var(--grey90) !important;
      }
    }
    .alert-form {
      font-size: 12px;
      color: var(--status-colors-error);
    }
    #agree {
      width: 20px;
      height: 20px;
    }
  }
  .message {
    display: flex;
    align-items: start;
    gap: 8px;
    margin: 0px auto;
    & span {
      cursor: pointer;
    }
  }
}
