.pagination {
  margin-bottom: 0;
  .page-item {
    font-size: 12px;
    color: var(--grey130) !important;
    @media (min-width: 798px) {
      font-size: 14px;
    }
    a {
      color: inherit;
      font-size: inherit;
    }
    span {
      font-weight: 600;
    }
    .page-link {
      background-color: inherit;
      border: none;
      font-size: inherit;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
