:root {
  --blue1: #002a66;
  --blue2: #003681;
  --background: #fbfcff;
  --type-primary: #323130;
  --type-secondary: #605e5c;
  --type-disabled: #a19f9d;
  --body-divider: #edebe9;
  --input-border: #8a8886;
  --input-hover-border: #323130;
  --theme-primary: #0078d4;
  --theme-background-light: #e6f1ff;
  --theme-lighter-alt: #eff6fc;
  --theme-lighter: #deecf9;
  --theme-light: #c7e0f4;
  --theme-tertiary: #2b88d8;
  --theme-dark-alt: #106ebe;
  --theme-dark: #005a9e;
  --theme-darker: #004578;
  --error-background-fill: #f0dadc;
  --success-background-fill: #d2e9d0;
  --severe-warning-background-fill: #f1ccbf;
  --warning-background-fill: #f2e7c1;
  --status-error-type-icon: #a80000;
  --status-colors-error: #a4262c;
  --status-success-type-icon: #107c10;
  --status-severe-warning-type-icon: #d83b01;
  --status-warning-type-icon: #797775;
  --overlay-light: rgba(255, 255, 255, 0.4);
  --overlay-dark: rgba(0, 0, 0, 0.4);
  --white-0: #fff;
  --grey10: #faf9f8;
  --grey20: #f3f2f1;
  --grey30: #edebe9;
  --grey40: #e1dfdd;
  --grey50: #d2d0ce;
  --grey60: #c8c6c4;
  --grey90: #a19f9d;
  --grey110: #8a8886;
  --grey130: #605e5c;
  --grey150: #3b3a39;
  --grey160: #323130;
  --grey190: #201f1e;
}
